Version 1.0/soaint-sgd-ui/soaint-sgd-web-api-gateway/src/main/java/co/com/foundation/sgd/apigateway/webservice/proxy/securitycardbridge/SecurityAPI.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.soaint.com/services/security-cartridge/1.0.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SecurityAPIService" targetNamespace="http://www.soaint.com/services/security-cartridge/1.0.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.soaint.com/services/security-cartridge/1.0.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.soaint.com/services/security-cartridge/1.0.0">
  <xs:element name="verifyCredentials" type="tns:verifyCredentials"/>
  <xs:element name="verifyCredentialsResponse" type="tns:verifyCredentialsResponse"/>
  <xs:complexType name="verifyCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verifyCredentialsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:authenticationResponseContext"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authenticationResponseContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="principalContext" type="tns:principalContext"/>
      <xs:element name="successful" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="principalContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemException" type="tns:SystemException"/>
  <xs:complexType name="SystemException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="verifyCredentialsResponse">
    <wsdl:part element="tns:verifyCredentialsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part element="tns:SystemException" name="SystemException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifyCredentials">
    <wsdl:part element="tns:verifyCredentials" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SecurityAPI">
    <wsdl:operation name="verifyCredentials">
      <wsdl:input message="tns:verifyCredentials" name="verifyCredentials">
    </wsdl:input>
      <wsdl:output message="tns:verifyCredentialsResponse" name="verifyCredentialsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SystemException" name="SystemException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityAPIServiceSoapBinding" type="tns:SecurityAPI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="verifyCredentials">
      <soap:operation soapAction="verifyCredentials" style="document"/>
      <wsdl:input name="verifyCredentials">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyCredentialsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemException">
        <soap:fault name="SystemException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityAPIService">
    <wsdl:port binding="tns:SecurityAPIServiceSoapBinding" name="SecurityAPIPort">
      <soap:address location="http://localhost:28080/Security-Cartridge/SecurityAPI"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>