Version 1.0/soaint-sgd-enterprise-services/ecm-integration-services/src/main/resources/firmaDigital.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.certicamara.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.certicamara.com.co/" name="WSDigitalPDF">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.certicamara.com.co/" schemaLocation="http://10.42.0.40:8080/WSSIGN-war/WSDigitalPDF?xsd=1"/>
</xsd:schema>
</types>
<message name="procesarPDF">
<part name="parameters" element="tns:procesarPDF"/>
</message>
<message name="procesarPDFResponse">
<part name="parameters" element="tns:procesarPDFResponse"/>
</message>
<message name="verificarPDF">
<part name="parameters" element="tns:verificarPDF"/>
</message>
<message name="verificarPDFResponse">
<part name="parameters" element="tns:verificarPDFResponse"/>
</message>
<message name="adjuntarArchivo">
<part name="parameters" element="tns:adjuntarArchivo"/>
</message>
<message name="adjuntarArchivoResponse">
<part name="parameters" element="tns:adjuntarArchivoResponse"/>
</message>
<message name="procesarPlantilla">
<part name="parameters" element="tns:procesarPlantilla"/>
</message>
<message name="procesarPlantillaResponse">
<part name="parameters" element="tns:procesarPlantillaResponse"/>
</message>
<message name="RecuperarPDF">
<part name="parameters" element="tns:RecuperarPDF"/>
</message>
<message name="RecuperarPDFResponse">
<part name="parameters" element="tns:RecuperarPDFResponse"/>
</message>
<message name="procesarDoc">
<part name="parameters" element="tns:procesarDoc"/>
</message>
<message name="procesarDocResponse">
<part name="parameters" element="tns:procesarDocResponse"/>
</message>
<portType name="WSDigitalPDF">
<operation name="procesarPDF">
<input wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/procesarPDFRequest" message="tns:procesarPDF"/>
<output wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/procesarPDFResponse" message="tns:procesarPDFResponse"/>
</operation>
<operation name="verificarPDF">
<input wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/verificarPDFRequest" message="tns:verificarPDF"/>
<output wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/verificarPDFResponse" message="tns:verificarPDFResponse"/>
</operation>
<operation name="adjuntarArchivo">
<input wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/adjuntarArchivoRequest" message="tns:adjuntarArchivo"/>
<output wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/adjuntarArchivoResponse" message="tns:adjuntarArchivoResponse"/>
</operation>
<operation name="procesarPlantilla">
<input wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/procesarPlantillaRequest" message="tns:procesarPlantilla"/>
<output wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/procesarPlantillaResponse" message="tns:procesarPlantillaResponse"/>
</operation>
<operation name="RecuperarPDF">
<input wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/RecuperarPDFRequest" message="tns:RecuperarPDF"/>
<output wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/RecuperarPDFResponse" message="tns:RecuperarPDFResponse"/>
</operation>
<operation name="procesarDoc">
<input wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/procesarDocRequest" message="tns:procesarDoc"/>
<output wsam:Action="http://ws.certicamara.com.co/WSDigitalPDF/procesarDocResponse" message="tns:procesarDocResponse"/>
</operation>
</portType>
<binding name="WSDigitalPDFPortBinding" type="tns:WSDigitalPDF">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="procesarPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adjuntarArchivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesarPlantilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecuperarPDF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesarDoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSDigitalPDF">
<port name="WSDigitalPDFPort" binding="tns:WSDigitalPDFPortBinding">
<soap:address location="http://10.42.0.40:8080/WSSIGN-war/WSDigitalPDF"/>
</port>
</service>
</definitions>