Version 1.0/soaint-sgd-enterprise-services/ecm-integration-services/src/main/resources/sign_pdf.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://test.soaint.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test.soaint.com.co/">

    <xs:element name="signPDF" type="tns:signPDF"/>

    <xs:element name="signPDFResponse" type="tns:signPDFResponse"/>

    <xs:complexType name="signPDF">
        <xs:sequence>
            <xs:element name="bytesPDF" type="xs:base64Binary" nillable="true" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="signPDFResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>