Version 1.0/soaint-docmanager/Document-Manager-Root/Core-Modules/ClientIntegration-Artifacts/src/main/java/co/com/foundation/soaint/documentmanager/integration/client/organigramaintegration/GestionarOrganigramaAdministrativoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://co.com.soaint.sgd.correspondencia.service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://co.com.soaint.sgd.correspondencia.service" name="GestionarOrganigramaAdministrativoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/paises/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/ecm/sub-serie/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/ecm/serie/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/ecm/sede/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/ecm/organigrama/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/ecm/estructuraTrd/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/ecm/contenidoDependencia/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/ecm/base/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=9"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soaint.com/domain-artifacts/cor-agente/1.0.0" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=10"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://co.com.soaint.sgd.correspondencia.service" schemaLocation="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS?xsd=2"/>
</xsd:schema>
</types>
<message name="consultarOrganigrama">
<part name="parameters" element="tns:consultarOrganigrama"/>
</message>
<message name="consultarOrganigramaResponse">
<part name="parameters" element="tns:consultarOrganigramaResponse"/>
</message>
<message name="BusinessException">
<part name="fault" element="tns:BusinessException"/>
</message>
<message name="SystemException">
<part name="fault" element="tns:SystemException"/>
</message>
<message name="consultarPadreDeSegundoNivel">
<part name="parameters" element="tns:consultarPadreDeSegundoNivel"/>
</message>
<message name="consultarPadreDeSegundoNivelResponse">
<part name="parameters" element="tns:consultarPadreDeSegundoNivelResponse"/>
</message>
<message name="crearOrganigrama">
<part name="parameters" element="tns:crearOrganigrama"/>
</message>
<message name="crearOrganigramaResponse">
<part name="parameters" element="tns:crearOrganigramaResponse"/>
</message>
<message name="generarEstructura">
<part name="parameters" element="tns:generarEstructura"/>
</message>
<message name="generarEstructuraResponse">
<part name="parameters" element="tns:generarEstructuraResponse"/>
</message>
<message name="listarElementosDeNivelInferior">
<part name="parameters" element="tns:listarElementosDeNivelInferior"/>
</message>
<message name="listarElementosDeNivelInferiorResponse">
<part name="parameters" element="tns:listarElementosDeNivelInferiorResponse"/>
</message>
<message name="listarDescendientesPadres">
<part name="parameters" element="tns:listarDescendientesPadres"/>
</message>
<message name="listarDescendientesPadresResponse">
<part name="parameters" element="tns:listarDescendientesPadresResponse"/>
</message>
<portType name="GestionarOrganigramaAdministrativoWS">
<operation name="consultarOrganigrama">
<input wsam:Action="consultarOrganigrama" message="tns:consultarOrganigrama"/>
<output wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/consultarOrganigramaResponse" message="tns:consultarOrganigramaResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/consultarOrganigrama/Fault/BusinessException"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/consultarOrganigrama/Fault/SystemException"/>
</operation>
<operation name="consultarPadreDeSegundoNivel">
<input wsam:Action="consultarPadreDeSegundoNivel" message="tns:consultarPadreDeSegundoNivel"/>
<output wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/consultarPadreDeSegundoNivelResponse" message="tns:consultarPadreDeSegundoNivelResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/consultarPadreDeSegundoNivel/Fault/BusinessException"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/consultarPadreDeSegundoNivel/Fault/SystemException"/>
</operation>
<operation name="crearOrganigrama">
<input wsam:Action="crearOrganigrama" message="tns:crearOrganigrama"/>
<output wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/crearOrganigramaResponse" message="tns:crearOrganigramaResponse"/>
</operation>
<operation name="generarEstructura">
<input wsam:Action="generarEstructura" message="tns:generarEstructura"/>
<output wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/generarEstructuraResponse" message="tns:generarEstructuraResponse"/>
</operation>
<operation name="listarElementosDeNivelInferior">
<input wsam:Action="listarElementosDeNivelInferior" message="tns:listarElementosDeNivelInferior"/>
<output wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/listarElementosDeNivelInferiorResponse" message="tns:listarElementosDeNivelInferiorResponse"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/listarElementosDeNivelInferior/Fault/SystemException"/>
</operation>
<operation name="listarDescendientesPadres">
<input wsam:Action="listarDescendientesPadres" message="tns:listarDescendientesPadres"/>
<output wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/listarDescendientesPadresResponse" message="tns:listarDescendientesPadresResponse"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://co.com.soaint.sgd.correspondencia.service/GestionarOrganigramaAdministrativoWS/listarDescendientesPadres/Fault/SystemException"/>
</operation>
</portType>
<binding name="GestionarOrganigramaAdministrativoWSPortBinding" type="tns:GestionarOrganigramaAdministrativoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarOrganigrama">
<soap:operation soapAction="consultarOrganigrama"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
</operation>
<operation name="consultarPadreDeSegundoNivel">
<soap:operation soapAction="consultarPadreDeSegundoNivel"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
</operation>
<operation name="crearOrganigrama">
<soap:operation soapAction="crearOrganigrama"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarEstructura">
<soap:operation soapAction="generarEstructura"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarElementosDeNivelInferior">
<soap:operation soapAction="listarElementosDeNivelInferior"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
</operation>
<operation name="listarDescendientesPadres">
<soap:operation soapAction="listarDescendientesPadres"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
</operation>
</binding>
<service name="GestionarOrganigramaAdministrativoWS">
<port name="GestionarOrganigramaAdministrativoWSPort" binding="tns:GestionarOrganigramaAdministrativoWSPortBinding">
<soap:address location="http://192.168.1.23:28080/correspondencia-business-services/GestionarOrganigramaAdministrativoWS"/>
</port>
</service>
</definitions>